html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./img/marek-piwnicki-JuXSfDkqTGo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card{
    width: 40rem;
    height: 69rem;
    border-radius: 1.6rem;
    padding: 2rem;
    background-color: rgba( 255, 255, 255, 0.1);
    backdrop-filter: blur(3rem);
    border: 2px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    transition: all 350ms ease-in;
}
.mainCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ** searchBox** */
.searchBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    position: relative;
}
.searchBox_input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 1.2rem;
    background: transparent;
    padding-left: 6rem;
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    border: 2px solid rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
}
.searchBox_input::placeholder{
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}
.search_png{
    position: absolute;
    width: 3rem;    
    height: 3rem;
    right: 1.4rem;
    cursor: pointer;
}
.location_png{
    position: absolute;
    width: 3.5rem;    
    height: 3.5rem;
    left: 1.4rem;
}


/* ** mainPicture ** */
.picture{
    width: 28rem;
    height: 28rem;
    overflow: hidden;
    margin-top: 4rem;
}
.mainPicture{
    width: 100%;
    height: 100%;
}


/* ** title ** */
.title{
    margin-top: 3rem;
    text-align: center;
}
.title__city{
    font-size: 6rem;
    font-weight: bolder;
    color: #FFF;
    text-transform: uppercase;
}
.title__temp{
    font-size: 5rem;
    font-weight: bolder;
    color: #FFF;
    margin-top: 1rem;
}
.status{
    margin-top: 1rem;
    color: #FFF;
    font-size: 2rem;
    font-weight: bold;
}


/* ** infos ** */
.infos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5.6rem;
}
.humidity{
    display: flex;
    align-items: center;
    margin-right: 3rem;
}
.humidity__png{
    width: 6rem;    
    height: 6rem;
    margin-right: 1rem;
}
.humidity__info{
    font-size: 1.8rem;
    color: #FFF;
    font-weight: bold;
}
.humidity__info h5{
    margin-bottom: .7rem;
    font-size: 1.4;
}
.wind{
    display: flex;
    align-items: center;
}
.wind__png{
    width: 6rem;    
    height: 6rem;
    margin-right: 1rem;
}
.wind__info{
    font-size: 1.8rem;
    color: #FFF;
    font-weight: bold;
}
.wind__info h5{
    margin-bottom: .7rem;
}
.failed{
    width: 100%;
    margin-top: 12rem;
    display: none;
}
.failed__png{
    width: 100%;
    height: 100%;
}
.failed__title{
    font-size: 4rem;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    margin-top: 6rem;
}

.card{
    height: 5.4rem;
}

.information{
    display: none;
}